   <div class="container">
       <!-- <div class="user-avatar m-5" style="text-align: center;">
          <img src="data:image/jpg;base64,{{user.avatar}}" style="border-radius: 50%; margin-left:2rem;" width="150px" alt="Maxwell Admin">
          <input type="file" (change)="handelUpload($event)"(change)="updateUser(user)"  accept="image/*">
        </div> -->
        <div class="d-flex justify-content-center mt-5">

            <div class="col-4">
                <small  class="ps-4">10</small>
                <h4>courses</h4>
            </div>
            <div class="col-4">
                <small style="padding-left: 1.5rem;">5</small>
                <h4>uncomplete</h4>
            </div>
            <!-- <div class="col-3">
                <small style="padding-left: 1.5rem;">10</small>
                <h4>courses</h4>
            </div> -->
        </div>
   </div>
   <!-- <button (click)="updateUser(user)"> save</button> -->
