<div class="col-md-9">
  <div class="tab-pane fade active show" id="account-info">
    <div class="card-body pb-2">

      <div class="form-group mb-4">
        <label class="form-label">Bio</label>
        <textarea class="form-control"
          rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
      </div>
      <div class="form-group mb-4">
        <label class="form-label">Birthday</label>
        <input type="text" class="form-control" value="May 3, 1995">
      </div>


     

      <div class="form-group mb-4">
        <div class="custom-select-form">
        <label class="form-label">Country</label>

        <select class="form-select" name="country" formControlName="country" placeholder="country*">
          <option value="">Country*</option>
          <option value="Egypt" selected>Egypt</option>
          <option value="United states">United states</option>
          <option value="Asia">Asia</option>
        </select>
      </div>
      </div>


    </div>
    <hr class="border-light m-0">
    <div class="card-body pb-2">

      <h6 class="mb-4">Contacts</h6>
      <div class="form-group mb-4">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" value="+0 (123) 456 7891">
      </div>
      <div class="form-group mb-4">
        <label class="form-label">Website</label>
        <input type="text" class="form-control" value="">
      </div>

    </div>

  </div>
</div>
